Library/
Logs/
obj/
Packages/
Temp/
.DS_Store
/Assembly-CSharp.csproj
/Assembly-CSharp-Editor.csproj
/Tilted.sln
/AstarPathfindingProject.csproj
/AstarPathfindingProjectEditor.csproj
/PackageToolsEditor.csproj
Assets/AstarPathfindingProject/
Assets/_TerrainAutoUpgrade/
*.meta
*.anim
*.unity